@charset "UTF-8";

html {
  scroll-behavior: smooth;
}

#containerParent {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

#container {
  width: 100%;
  font-family: ヒラギノ角ゴ Pro;
  font-size: 18px;
  color: #444444;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 89px;
  background-color: #fff;
}

.logo {
  width: 225px;
  height: 62px;
  position: absolute;
  margin-left: 5px;
}

@media screen and (max-width: 880px) {
  .logo {
    display: none;
  }
}

@media screen and (max-width: 880px) {
  #header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    height: 136px;
  }

  .headSticky {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .toguru {
    width: 43px;
    height: 54px;
    margin-top: 15px;
  }

  .logo {
    display: flex;
    width: 225px;
    height: 62px;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 23px;
  }

  .clock {
    width: 57px;
    height: 57px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 880px) {
  .phone {
    background-color: #f7c637;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    align-items: center;
    font-family: "fot-tsukubrdgothic-std", sans-serif;
    font-weight: bold;
  }

  .book {
    font-size: 17px;
  }

  .headerPhone {
    width: 25px;
    height: 28px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .phoneNumber {
    font-size: 24px;
    margin-left: 8px;
  }
}

.address {
  height: 45px;
  position: relative;
  /*TOPロゴに対して*/
  margin-left: 240px;
  font-size: 16px;
  line-height: 25px;
}

.contact {
  width: 205px;
  height: 55px;
  display: grid;
  grid-template-rows: 25px 28px;
  grid-template-columns: 23px 180px;
  align-items: center;
  position: relative;
  /*TOPロゴに対して*/
  margin-left: 5px;
}

.headerIcon {
  grid-row: 2/2;
  grid-column: 1/2;
  /* width: 25px;
  height: 28px; */
}

.headerText {
  grid-row: 1/2;
  grid-column: 2/2;
}

.headerPhone {
  grid-row: 2/2;
  grid-column: 2/2;
  font-size: 25px;
  font-weight: 300;
  font-family: "fot-tsukubrdgothic-std", sans-serif;
  margin-left: 5px;
}

.transportation {
  width: 184px;
  position: relative;
  /*TOPロゴに対して*/
  margin-left: 5px;
  margin-right: 5px;
}

#nav {
  height: 57px;
}

@media screen and (max-width: 880px) {
  #nav {
    height: 0;
  }
}

.navUl {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.navLi {
  width: calc(46% / 2);
  background-color: #2a81b4;
  height: 57px;
}

.navLi:nth-child(1),
.navLi:nth-child(2) {
  width: 10%;
}

.navLi:nth-child(3),
.navLi:nth-child(4) {
  width: 18%;
}

.navLi a {
  text-decoration: none;
  color: #fff;
  font-family: "fot-tsukubrdgothic-std", sans-serif;
  font-size: 18.5px;
  /* font-size: 2vw; */
  font-weight: 700;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navLi a:hover {
  background-color: #f0d244;
  color: #444444;
}

.staff {
  display: none;
}

.staff.active {
  display: block;
}

.openBtn {
  position: fixed;
  z-index: 10;
  top: 15px;
  left: 10px;
  cursor: pointer;
  width: 45px;
  height: 54px;
  display: none;
}

@media screen and (max-width: 880px) {
  .openBtn {
    display: block;
  }
}

.openBtn span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  height: 3px;
  border: 0.5px solid;
  border-radius: 3px;
  background-color: #444444;
  width: 100%;
}

.openBtn span:nth-of-type(1) {
  top: 0px;
}

.openBtn span:nth-of-type(2) {
  top: 11px;
}

.openBtn span:nth-of-type(3) {
  top: 23px;
}

.openBtn p {
  top: 42px;
  font-family: "fot-tsukubrdgothic-std", sans-serif;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.4s;
  position: absolute;
  width: 100%;
}

.openTxt::after {
  content: "MENU";
}

.openTxt.active::after {
  content: "CLOSE";
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.openBtn.active {
  background-color: #023047;
  width: 72px;
  height: 87px;
  left: 0;
}

.openBtn.active span:nth-of-type(1) {
  top: 30px;
  left: 9px;
  transform: translateY(0px) rotate(-45deg);
  width: 70%;
  border: 1.5px solid #fff;
  background-color: #fff;
}

.openBtn.active span:nth-of-type(2) {
  opacity: 0;
}

.openBtn.active span:nth-of-type(3) {
  top: 30px;
  left: 9px;
  transform: translateY(0px) rotate(45deg);
  width: 70%;
  border: 1.5px solid #fff;
  background-color: #fff;
}

.close.active {
  display: block;
  opacity: 1;
  top: 42px;
  font-family: "fot-tsukubrdgothic-std", sans-serif;
  font-size: 14px;
  transition: all 0.4s;
  position: absolute;
  width: 100%;
}

@media screen and (max-width: 880px) {
  .navUl {
    position: fixed;
    top: 95px;
    left: -100%;
    transition: all 0.6s;
    background-color: #023047;
    width: 240px;
    height: 400px;
    flex-direction: column;
  }

  .navLi:nth-child(1) {
    width: 100%;
  }

  .navLi:nth-child(2) {
    width: 100%;
  }

  .navLi:nth-child(3) {
    width: 100%;
  }

  .navLi:nth-child(4) {
    width: 100%;
  }

  .navLi:nth-child(5) {
    width: 100%;
  }

  .navLi:nth-child(6) {
    width: 100%;
  }

  .navLi:nth-child(7) {
    width: 100%;
  }

  .navLi a {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    padding-left: 20px;
    padding-top: 20px;
    background-color: #023047;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    /* line-height: 25px; */
  }
}

.navUl.active {
  left: 0;
  overflow: hidden;
  z-index: 20;
}

.backToTop {
  position: sticky;
  bottom: 50px;
  left: 0;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

/* .backToTop {
  position: fixed;
  bottom: 50px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  width: 1000px;
} */
#footer {
  display: flex;
  justify-content: center;
  height: 274px;
  width: 100%;
  margin-top: -80px;
}

@media screen and (max-width: 880px) {
  #footer {
    display: flex;
    flex-wrap: wrap;
    height: 585px;
    margin-top: -40px;
  }
}

.footerleft {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 376px;
}

.footerLogo {
  width: 225px;
  height: 62px;
  margin-top: 17px;
}

.FooterAddress {
  font-size: 16px;
  margin-top: 17px;
}

.footerTransportation {
  width: 184px;
  margin-top: 31px;
}

@media screen and (max-width: 880px) {
  .footerleft {
    width: 100%;
    margin-left: 0;
  }
}

.footercenter {
  width: 294px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.footertText {
  text-align: center;
  margin-top: 37px;
  margin-bottom: 29px;
  font-family: "fot-tsukubrdgothic-std", sans-serif;
}

.banner-1 {
  width: 172px;
  height: 62px;
  margin-bottom: 16px;
  align-items: center;
}

.banner-2 {
  width: 172px;
  height: 62px;
  margin-bottom: 52px;
  align-items: center;
}

@media screen and (max-width: 880px) {
  .footercenter {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footertText {
    width: 100%;
    margin-top: 29px;
    margin-bottom: 16px;
  }

  .banner {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 24px;
  }

  .banner-1 {
    margin-right: 5px;
    margin-bottom: 0;
  }

  .banner-2 {
    margin-left: 5px;
    margin-bottom: 0;
  }
}

.footerright {
  background-color: #012f46;
  color: #fff;
  line-height: 28px;
  width: 330px;
}

.footerNav {
  padding-left: 40px;
  padding-top: 37px;
}

.footerNav a {
  text-decoration: none;
  color: #fff;
}

.footerright small {
  padding-top: 25px;
  padding-left: 40px;
  display: flex;
  align-items: baseline;
  font-size: 12px;
  font-family: "fot-tsukubrdgothic-std", sans-serif;
}

@media screen and (max-width: 880px) {
  .footerright {
    width: 100%;
  }

  .footerNav {
    text-align: center;
    padding-left: 0px;
    padding-top: 25px;
  }

  .footerright small {
    width: 100%;
    padding-top: 25px;
    padding-left: 0px;
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
}

.sp {
  display: block;
}

@media screen and (max-width: 880px) {
  .pc {
    display: none;
  }
}

.sp {
  display: none;
}

@media screen and (max-width: 880px) {
  .sp {
    display: block;
  }
}
