@charset "UTF-8";

/* * {
  outline: 1px solid blue;
} */

/* detailページ */
#container {
  background-color: #f3fafe;
}
#timeTitle {
  background-color: #012f46;
  color: #fff;
  font-family: "fot-tsukubrdgothic-std", sans-serif;
  text-align: center;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeIcon {
  width: 56px;
  height: 56px;
  padding-bottom: 4px;
}

.timeText {
  font-size: 30px;
  font-weight: bold;
  margin-left: 30px;
  margin-right: 17px;
}

.timeEn {
  font-size: 14px;
  margin-top: 18px;
}

#timeItem {
  display: flex;
}

#timeItem2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timeItem2 {
  line-height: 35px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

#reserve {
  display: grid;
  justify-items: center;
  align-items: center;
  margin-bottom: 40px;
}

.grid-container {
  width: 350px;
  height: 112px;
  display: grid;
  grid-template-columns: repeat(1, 1fr 2fr);
  text-align: center;
  margin-top: 22px;
  margin-bottom: 22px;
  font-family: "fot-tsukubrdgothic-std", sans-serif;
  line-height: 35px;
  font-size: 18px;
}

.reserveItem:nth-child(1) {
  background-color: #96c4e2;
  border-radius: 15px 0 0 0;
  border-left: 0.4px solid #4c4b4c;
  border-top: 0.4px solid #4c4b4c;
  border-right: 0.4px solid #fff;
  border-bottom: none;
}

.reserveItem:nth-child(2) {
  background-color: #96c4e2;
  border-radius: 0 15px 0 0;
  border: 0.4px solid #4c4b4c;
  border-left: none;
  border-top: 0.4px solid #4c4b4c;
  border-right: 0.4px solid #4c4b4c;
  border-bottom: none;
  letter-spacing: 10px;
}

.reserveItem:nth-child(3) {
  background-color: #fff;
  border: 0.4px solid #4c4b4c;
}

.reserveItem:nth-child(4) {
  color: #023047;
  background-color: #fff;
  border: 0.4px solid #4c4b4c;
  border-left: none;
  letter-spacing: 10px;
}

.reserveItem:nth-child(5) {
  border-radius: 0 0 0 15px;
  background-color: #fff;
  border-top: none;
  border-left: 0.4px solid #4c4b4c;
  border-bottom: 0.4px solid #4c4b4c;
}

.reserveItem:nth-child(6) {
  color: #023047;
  border-radius: 0 0 15px 0;
  background-color: #fff;
  border: 0.4px solid #4c4b4c;
  border-top: none;
  letter-spacing: 10px;
}

.reserveRef {
  font-size: 15px;
  margin-top: 13px;
}

@media screen and (max-width: 880px) {
  #timeItem {
    display: flex;
    flex-direction: column;
  }
  .timeItem1 img {
    width: 100%;
  }
}
#menuTitle {
  background-color: #012f46;
  color: #fff;
  font-family: "fot-tsukubrdgothic-std", sans-serif;
  text-align: center;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuIcon img {
  width: 56px;
  height: 56px;
  margin-bottom: 4px;
}

.menuText {
  font-size: 30px;
  font-weight: bold;
  margin-left: 30px;
  margin-right: 17px;
}

.menuEn {
  font-size: 14px;
  margin-top: 18px;
}
#menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.menuContents {
  width: 166px;
  height: 176px;
  border: 2px solid #dcdfe1;
  box-shadow: inset 0 0 1px 1px #dcdfe1;
  border-radius: 15px;
  background-color: #fff;
  margin-bottom: 20px;
}
.menuImg {
  margin-top: 21px;
  text-align: center;
  margin-bottom: 47px;
}
.menuImg-1 {
  margin-top: 21px;
  margin-bottom: 50px;
  text-align: center;
}
.menuTitle {
  font-size: 25px;
  font-family: "fot-tsukubrdgothic-std", sans-serif;
  text-align: center;
}

.menuTitle-4 {
  font-size: 25px;
  font-family: "fot-tsukubrdgothic-std", sans-serif;
  text-align: center;
  margin-top: -25px;
  line-height: 30px;
}
.menuContents-5 {
  width: 350px;
  height: 157px;
  border: 2px solid #dcdfe1;
  box-shadow: inset 0 0 1px 1px #dcdfe1;
  border-radius: 15px;
  background-color: #fff;
}
.menuImg-5 {
  display: flex;
  margin-top: 21px;
  margin-left: 145px;
}
.menuTitle-5 {
  font-size: 25px;
  font-family: "fot-tsukubrdgothic-std", sans-serif;
  text-align: center;
}
@media screen and (max-width: 880px) {
  #menu {
    margin-left: 10px;
    margin-right: 10px;
  }
  .menuContents-6 img {
    width: 348px;
  }
}
.menuTitle1 {
  display: flex;
  justify-content: center;
  margin-top: 21px;
  margin-bottom: 5px;
}
.menuTitle2 {
  font-size: 20px;
}
#mapTitle {
  background-color: #012f46;
  color: #fff;
  font-family: "fot-tsukubrdgothic-std", sans-serif;
  text-align: center;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapIcon {
  width: 56px;
  height: 56px;
  padding-bottom: 4px;
}

.mapText {
  font-size: 30px;
  font-weight: bold;
  margin-left: 30px;
  margin-right: 17px;
}

.mapEn {
  font-size: 14px;
  margin-top: 18px;
}
.mapAddress {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
  width: 62px;
  border: solid 1px #2a81b4;
  border-radius: 15px;
  background-color: #2a81b4;
  color: #fff;
  font-weight: bold;
  font-family: "fot-tsukubrdgothic-std", sans-serif;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mapDetail {
  margin-left: 20px;
  margin-bottom: 15px;
}

.mapImg iframe {
  width: 100%;
}
.access {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
  width: 93px;
  border: solid 1px #2a81b4;
  border-radius: 15px;
  background-color: #2a81b4;
  color: #fff;
  font-weight: bold;
  font-family: "fot-tsukubrdgothic-std", sans-serif;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.accessDetail {
  display: flex;
  margin-bottom: 30px;
}
.train {
  display: flex;
  align-items: center;
}
.train img {
  margin-left: 20px;
  margin-right: 10px;
}
.parking {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.parking img {
  margin-left: 47px;
  margin-right: 7px;
}
.accessRef {
  margin-left: 20px;
  line-height: 31.5px;
}
.accessRef-2 {
  margin-left: 20px;
  line-height: 31.5px;
  margin-bottom: 100px;
}
@media screen and (max-width: 880px) {
  .accessDetail {
    display: flex;
    flex-direction: column;
  }
  .parking img {
    margin-left: 18px;
  }
}
.sp {
  display: block;
}

@media screen and (max-width: 880px) {
  .pc {
    display: none;
  }
}

.sp {
  display: none;
}

@media screen and (max-width: 880px) {
  .sp {
    display: block;
  }
}
