@charset "UTF-8";
/* * {
  outline: 1px solid blue;
} */
/* TOPページ */
#topImg {
  width: 100%;
  position: relative;
}
#topImg img {
  width: 100%;
}
#catch {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 100px;
}
@media screen and (max-width: 880px) {
  #catch {
    right: 50px;
  }
}
#reserve {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 367px;
  height: 264px;
  bottom: 0;
  position: absolute;
  background-color: #fff;
  border-radius: 0 30px 30px 0;
}
.grid-container {
  width: 310px;
  height: 112px;
  display: grid;
  grid-template-columns: repeat(1, 1fr 2fr);
  text-align: center;
  margin-top: 22px;
  margin-bottom: 22px;
  font-family: 筑紫B丸ゴシック, ヒラギノ角ゴ Pro;
  line-height: 35px;
  font-size: 16px;
}
.reserveItem:nth-child(1) {
  background-color: #96c4e2;
  border-radius: 15px 0 0 0;
  border-left: 0.4px solid #4c4b4c;
  border-top: 0.4px solid #4c4b4c;
  border-right: 0.4px solid #fff;
  border-bottom: none;
}
.reserveItem:nth-child(2) {
  background-color: #96c4e2;
  border-radius: 0 15px 0 0;
  border: 0.4px solid #4c4b4c;
  border-left: none;
  border-top: 0.4px solid #4c4b4c;
  border-right: 0.4px solid #4c4b4c;
  border-bottom: none;
  letter-spacing: 10px;
}
.reserveItem:nth-child(3) {
  background-color: #fff;
  border: 0.4px solid #4c4b4c;
}
.reserveItem:nth-child(4) {
  color: #023047;
  background-color: #fff;
  border: 0.4px solid #4c4b4c;
  border-left: none;
  letter-spacing: 10px;
}
.reserveItem:nth-child(5) {
  border-radius: 0 0 0 15px;
  background-color: #fff;
  border-top: none;
  border-left: 0.4px solid #4c4b4c;
  border-bottom: 0.4px solid #4c4b4c;
}
.reserveItem:nth-child(6) {
  color: #023047;
  border-radius: 0 0 15px 0;
  background-color: #fff;
  border: 0.4px solid #4c4b4c;
  border-top: none;
  letter-spacing: 10px;
}
.reserveRef {
  font-size: 15px;
  margin-top: 13px;
}
@media screen and (max-width: 880px) {
  #reserve {
    /* margin-top: 20px; */
    bottom: -280px;
    width: 370px;
    height: 280px;
    width: 100%;
    justify-content: center;
  }
  .grid-container {
    width: 370px;
    height: 133px;
    display: grid;
    grid-template-columns: repeat(1, 1fr 2fr);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
#information {
  text-align: center;
  padding: 14px 80px 62px;
  display: block;
  font-family: 筑紫B丸ゴシック, ヒラギノ角ゴ Pro;
}
#informationTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}
.informationTitle {
  width: 117px;
  height: 73px;
}
.informationDetail {
  width: 151px;
  height: 30px;
}
.informationItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 55px;
  border-top: 0.5px solid #acacac;
  text-decoration: none;
}
.informationDate {
  color: #7fb26e;
  /* position: relative; */
}
.informationContent {
  margin-left: 10px;
  /* position: absolute; */
}
.informationContent a {
  color: #444444;
}
.informationIcon {
  margin-left: 10px;
}
.informationCursor {
  display: flex;
  align-items: center;
}
.informationItem:nth-child(5) {
  border-bottom: 0.5px solid #acacac;
}
#contents {
  display: none;
}
@media screen and (max-width: 880px) {
  #information {
    padding: 10px;
  }
  .informationTitle {
    margin-top: 285px;
  }
  .informationDetail {
    margin-right: 20px;
    margin-top: 285px;
  }
}
@media screen and (max-width: 500px) {
  #information {
    padding: 10px;
    margin-top: 285px;
  }
  .informationTitle {
    margin-top: -5px;
  }
  .informationDetail {
    margin-top: 20px;
  }
  .informationItem {
    /* top: 285px; */
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  .informationDate {
    margin-right: 200px;
    margin-top: 10px;
  }
  .informationItem:nth-child(2) {
    margin-bottom: 25px;
  }
  .informationItem:nth-child(5) {
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 880px) {
  #contents {
    background-color: #f3fafe;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .contentsItem {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .contentsDetail {
    width: 170px;
    height: 149px;
    margin: 5px;
    background-color: #d9f1fc;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 筑紫B丸ゴシック, ヒラギノ角ゴ Pro;
    font-weight: bold;
  }
  .contentsDetail a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    color: #444444;
    margin-bottom: 15px;
  }
  .contentsDetail a img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 94px;
  }
}
#greeting {
  background-color: #f3fafe;
  line-height: 31.5px;
  padding-bottom: 50px;
}
.greetingTitle {
  background-color: #012f46;
  color: #fff;
  font-family: 筑紫B丸ゴシック, ヒラギノ角ゴ Pro;
  text-align: center;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.greetingIcon {
  width: 56px;
  height: 56px;
  padding-bottom: 4px;
}
.greetingText {
  font-size: 30px;
  font-weight: bold;
  margin-left: 30px;
  margin-right: 17px;
}
.greetingEn {
  font-size: 14px;
  margin-top: 18px;
}
.greetingItem {
  display: flex;
  justify-content: space-around;
  padding-top: 42px;
}
.greetingItem1 img {
  width: 100%;
}
.greetingItem2 {
  width: 450px;
  margin-right: 35px;
  margin-left: 10px;
}
#greetingLast {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 35px;
  margin-right: 35px;
}
@media screen and (max-width: 880px) {
  .greetingItem {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    width: 100%;
  }
  .greetingItem2 {
    width: 95%;
    /* padding-left: 10px; */
    padding-right: 10px;
  }
}
.columnBtn a {
  display: block;
  border: 1px solid #97c4e2;
  background-color: #fff;
  border-radius: 20px;
  width: 258px;
  margin-top: 37px;
  margin-bottom: 53px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 筑紫B丸ゴシック, ヒラギノ角ゴ Pro;
  font-size: 20px;
  text-decoration: none;
  color: #444444;
}

.columnBtn img {
  margin-left: 10px;
  padding-bottom: 3px;
}
@media screen and (max-width: 880px) {
  .columnBtn a {
    display: none;
  }
}

.sp {
  display: block;
}
@media screen and (max-width: 880px) {
  .pc {
    display: none;
  }
}
.sp {
  display: none;
}
@media screen and (max-width: 880px) {
  .sp {
    display: block;
  }
}
